<div class="contextual">
  <% tracks_link = TracksLink.find_by_issue_id_and_user_id(issue, User.current.id) %>
  <% if tracks_link.present? %>
    <%= link_to t('tracks_see_context'), tracks_link.tracks_url, :target => 'blank' %> |
  <% end %>
  <%= link_to t('tracks_connect'), {:controller => 'tracks_settings', :action => 'new_connection', :id => issue},
    :remote => true %>
</div>
<p>
  <strong>Tracks</strong>
</p>

<div id="to_do_errors"></div>
<div id="tracks_form">
  <% if tracks_link.present? %>
    <%= image_tag '../plugin_assets/redmine_tracks/images/done.png' %>
    <%= t('tracks_already_linked', :context => auto_link!(tracks_link.tracks_url)).html_safe %>
  <% end %>
</div>
